<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="scripts.TVstand"/>
      <class name="scripts.Modern"/>
      <class name="scripts.Validlogin"/>
      <class name="scripts.Createacc"/>
      <class name="scripts.Productsize"/>
      <class name="scripts.Policy"/>
      <class name="scripts.Productcomparision"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
